
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: lightblue;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.6rem;
    
}

.header .logo i {
    padding-left: .5rem;
}
.header .navbar{
    margin-left: 100px;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.4rem;
    margin-left: 40px;
    text-decoration: none;
    color: var(--main-color);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}
.header P{
    font-size: large;
    margin-left: 100px;
}
.header button{
    width: 120px;
    height: 40px;
    background: transparent;
    border: 3px dotted gray;
    font-size: large;
}
.header button:hover{
    width: 120px;
    height: 40px;
    background: transparent;
    border: 3px dotted chocolate;
}
button .logout{
    color: #333;
    text-decoration: none;
}